:root {
  /* Font Family Mappings */
  --font-family-display: var(--font-family-heading);
  
  --font-primary:   var(--font-family-heading);
  --font-secondary: var(--font-family-body);
  --font-tertiary:  var(--font-family-label);
  --font-code:      var(--font-family-code);

  --font-heading:   var(--font-family-heading);
  --font-body:      var(--font-family-body);
  --font-label:     var(--font-family-label);
}

/* Ensure these are inherited */
html, body {
  font-family: var(--font-family-body), sans-serif;
}
